.btn-update{
    border-Radius: 5px;
    background: #b30059;
    width: 10%;
    font-size: 17px;
    margin-Left: 20%;
    color: white;
}

.btn-update:hover{
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);

}

.btn-delete{
    border-Radius: 5px;
    background: #b30059;
    width: 10%;
    font-size: 17px;
    margin-Left: 25%;
    color: white;
}
.btn-delete:hover{
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);

}